/*reset*/a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: "Courier New", Courier, Monaco, "Lucida Console", monospace;
  line-height: 1.5;
  background-color: #ffd757;
  background-image: url("upstateplaid.svg");
  background-repeat:repeat-x;
  background-position: top center;
  background-size: 70px auto;
  background-attachment: fixed;
  color: black;
}
@font-face {
    font-family: 'Epilogue';
    src: url(Epilogue[slnt,wght].woff2) format("woff2-variations");
    font-style: normal;
}


a {
  text-decoration: none;

}

p#timecheck {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
transform: rotate(-90deg);
position: fixed;
right: -45px;
bottom: 95px;
}

li a {color: black;    text-decoration: none;
transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

h1 {
  margin: 8vw auto 6vw;
}

#page, h1 {
  max-width: 90%;
}

#page {margin: 0 auto 5vw;}

ul {
  padding: 0 0 100px;
}

li h2, li p {display: inline-block; vertical-align: middle;}

li h2 {
  font-size: 2.5vw;
  text-transform: capitalize;
  font-family: "Epilogue";
  font-variation-settings: "wght" 750, "slnt" -8;
  font-style: normal;
  width: 44%;
  position: relative;
  z-index: 1;
  font-feature-settings: "ss01";
}

li a:hover h2 {
  font-variation-settings: "wght" 750, "slnt" 0;

}
span.location {
  width: 45%;
  display: inline-block;
  text-transform: uppercase;
}

li p {
  font-size: 14px;
  width: 55%;
  letter-spacing: .5px;
}



li a {display: block; padding: 1vw;}

li a:hover {
  background: rgba(255,255,255,1);
/*transform: scale(1.02);*/
}

li a:hover p {
  font-weight: bold;
}

h1 {
  font-size: 1.75vw;

  font-family: "Epilogue";
font-variation-settings: "wght" 300, "slnt" 0;
}

#footer p {
  max-width: 90%;
  margin: 0 auto 5em;
  font-size: 13px;
}

#footer p a {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}


nav {
  position: fixed;
  top: 5vw;
  right: 5vw;
  text-align: center;
  padding: 0;
  z-index: 3;
}

nav a {
  padding: 5px 0;
  margin: 0 10px 0 0;
  display: inline-block;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
}

div h3 {
  font-size: 2vw;
  background: black;
  color: #ffd757;
  padding: 1vw;
  position: sticky;
  top: 0px;
  z-index: 2;
  margin-bottom: 4vw;
  line-height: 1;
}




nav a:active, nav a:hover, nav a:focus {
  background: white;
}

div h4 {
  font-size: 20px;
  padding: 30px 0;
}

::selection {
  background: white;
}
/*responsive styles below ---------------------------------------------*/
/*responsive styles below ---------------------------------------------*/
/*responsive styles below ---------------------------------------------*/

@media screen and (max-width: 1023px) {
body {
  padding-top: 100px;
}

nav {
  top: 50px;
}

nav a {
  background-color: #ffd757;
}

div#studios, div#people {
  padding-top: 100px;
}

div h3 {
  font-size: 18px;
}

li h2 {font-size: 22px;}

li h2, li p, span.location {display: block; width: 100%;}

h1 {
  font-size: 18px;
  margin: 20px auto;
}

div#studios, div#people {
  padding-top: 20px;
}

#timecheck {
  display: none;
}
li p {
  font-size: 15px;
}

li {
  margin-bottom: 20px;
}

}
